@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p>The counter value is @_currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCounter">Increment Counter</button>

@code
{
    private int _currentCount = 42;

    private void IncrementCounter()
    {
        _currentCount++;
    }
}
