@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1 @ref="_myElementReference">Hello, world!</h1>
Enter your name: <input autofocus/>
<br/>
Welcome to your new app.

@code
{
    ElementReference _myElementReference;
}
