@page "/"
@using BUCallingJsFromDotnet.Models
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<button @onclick="ButtonClicked">Perform interop</button>

@code
{
    private async Task ButtonClicked()
    {
        var person = new Person
        {
            Salutation = "Mr",
            GivenName = "Chuck",
            FamilyName = "Norris"
        };
        person.PhoneNumbers.Add(new KeyValuePair<string, string>("Home", "+44 (0)121 999 9999"));
        person.PhoneNumbers.Add(new KeyValuePair<string, string>("Work", "+44 (0)121 999 9999"));

        await JsRuntime.InvokeVoidAsync("console.log", "Hello", person);
    }
}
