@page "/"

<PageTitle>Home</PageTitle>
<h1>Status: @_status</h1>
<EditForm Model="@_person" OnSubmit="@FormSubmitted">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</EditForm>

@code
{
    string _status = "Not submitted";
    readonly Person _person = new();

    void FormSubmitted()
    {
        _status = "Form submitted";
        // Post data to the server, etc
    }
}
