@page "/"
@using System.Drawing
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<EditForm Model="@_currentPerson">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value="_currentPerson.Name" class="form-control" id="Name"/>
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <InputNumber @bind-Value="_currentPerson.Age" class="form-control" id="Age"/>
    </div>
    <div class="form-group">
        <label for="FavoriteColor">Favorite Color</label>
        <InputColor @bind-Value="_currentPerson.FavoriteColor" id="FavoriteColor"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
</EditForm>

Favorite colour is @_currentPerson.FavoriteColor
<div style="width:100px;height:100px;background-color:@ColorAsHex"/>

@code
{
    Person _currentPerson = new Person
    {
        FavoriteColor = Color.Green
    };

    string ColorAsHex => InputColor.ColorToString(_currentPerson.FavoriteColor);
}
