@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Collapsible>This is ChildContent</Collapsible>

<TabControl>

    <TabTextTemplate>
        Hello
    </TabTextTemplate>

    <ChildContent>
        <TabPage Text="Tab 1">
            <h1>The first tab</h1>
        </TabPage>
        <TabPage Text="Tab 2">
            <h1>The second tab</h1>
        </TabPage>
        <TabPage Text="Tab 3">
            <h1>The third tab</h1>
        </TabPage>
    </ChildContent>
</TabControl>

<h1>A generic list of Person</h1>
<DataList Data="@_people">
    @context.Salutation @context.FamilyName @context.GivenName
</DataList>

@code
{
    private IEnumerable<Person>? _people;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _people = new[]
        {
            new Person("Mr", "Bob", "Geldof"),
            new Person("Mrs", "Angela", "Rippon"),
            new Person("Mr", "Freddie", "Mercury")
        };
    }
}
