@page "/admin/users"
@layout MainLayout
@* this switches to use the main layout rather than the one defined in the 'Admin/_Imports.razor'  *@

<PageTitle>Users</PageTitle>

<h3>Users</h3>

@code {

}
