@page "/admin/users"
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

<h2>Users</h2>

<label>Name = @_name</label>
<br/>
<input @bind-value="_name" @bind-value:event="oninput"/>

<label>Date of birth = @_dateOfBirth?.ToString("MMMM d, yyyy")</label>
<br/>
<input @bind-value="@_dateOfBirth" @bind-value:format="yyyy-MM-dd"/>

@code {
    private string? _name;
    private DateTime? _dateOfBirth;
    private decimal? _bankBalance;
}
